table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 0.5vw;
}


.vote-button {
    width: 50px;
    height: 50px;
    font-size: 1.5vw;
    border: none;
    cursor: pointer;
}

.vote-button.green {
    background-color: #C6EFCE;
    color: darkgreen;
}

.vote-button.red {
    background-color: #FFC7CE;
    color: rgb(185, 10, 10);
}

.ticket-component {
    margin-top: 2vw;
    padding: 1vw;
    border-top: 2px solid black;
}

.ticket-section {
    margin-bottom: 1vw;
}

.ticket-section label {
    display: block;
    margin-bottom: 0.5vw;
}

.ticket-section select {
    width: 20vw;
    padding: 0.5vw;
    font-size: 1vw;
}
.image-cell img {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
.ticket-message {
    text-align: center;
}
.square-image {
    width: 15vw; /* Powiększenie szerokości kwadratowych obrazków */
    height: 15vw;
  }
  
  .portrait-image {
    height: 18vw; /* Dopasowanie wysokości prostokątnych obrazków */
    width: auto;
  }
  
  .landscape-image {
    width: 18vw; /* Dopasowanie szerokości dla obrazków szerokich */
    height: auto;
  }
  